.val_salong {
  font-size: 2vw;
  margin-top: 3vw;
  margin-left: 4vw;
  border: solid black;
  padding: 0.5vw;
  width: 50vw;
  text-align: center;
}

.gömd_salong {
  font-size: 1.3vw;
  color: rgb(239, 233, 233);
  border: solid black;
  width: 50vw;
  padding-left: 1vw;
  background-color: grey;
  margin-left: 4vw;
  display: none;
}

.gömd_salong:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.val_salong:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
