.val {
  font-size: 2vw;
  margin-top: 3vw;
  margin-left: 4vw;
  border: solid black;
  padding: 0.5vw;
  width: 50vw;
  text-align: center;
}

#salonger {
  display: none;
}

#behandling {
  display: none;
}

#tid {
  display: none;
}

.minival {
  font-size: 1.3vw;
  color: rgb(239, 233, 233);
  border: solid black;
  width: 48vw;
  padding-left: 1vw;
  background-color: grey;
  margin-left: 4vw;
  display: flex;
}

.check {
  width: 1vw;
  margin-left: 1vw;
}

.minivaltabell {
  border: solid black;
  width: 48vw;
  padding-left: 1vw;
  background-color: grey;
  margin-left: 4vw;
  padding-right: 1vw;
}

.containerdag {
  background-color: white;
  color: black;
  margin-top: 1vw;
  margin-bottom: 1vw;
  display: flex;
  border: solid black;
}

.left {
  margin-left: 1vw;
}

.right {
  margin-left: 18vw;
}

#dag {
  margin-left: 21vw;
  font-size: 1.5vw;
}

.tabell {
  width: 48vw;
}

.boka {
  font-size: 2vw;
  margin-top: 3vw;
  margin-left: 4vw;
  border: solid black;
  padding: 0.5vw;
  width: 25vw;
  text-align: center;
}

@media screen and (max-width: 930px) {
  .val {
    scale: 1.5;
    margin: 5vw;
    margin-left: 20vw;
  }

  .boka {
    scale: 1.5;
    margin-left: 10vw;
  }

  .frame {
    scale: 1.5;
    margin-left: 20vw;
    margin-bottom: 1vw;
  }

  .minival {
    font-size: 3vw;
  }
  .check {
    width: 3vw;
  }

  .minivaltabell {
    scale: 0.75;
    margin-top: 2vw;
    margin-bottom: 6vw;
  }

  #dag {
    font-size: 4vw;
    margin-left: 10vw;
  }

  .right {
    margin-left: 7vw;
  }
}
