.Hero {
  width: 100%;
  height: 50vw;
  background-image: url(../images/backgrunds\ bild.gif);
  background-size: cover;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  overflow: auto;
}

.rek {
  display: flex;
}

.kolum {
  width: 50%;
  margin: 5vw;
  padding: 5px;
  color: rgb(0, 0, 0);
  font-size: 2vw;
  display: flex;
}

.rektext {
  margin: 0 4vw;
  width: 22vw;
}

.reklänk {
  color: black;
  margin-left: 13vw;
}

.rekbild {
  width: auto;
  height: auto;
}

@media screen and (max-width: 930px) {
  .rekbild {
    width: 20vw;
  }

  .rektext {
    width: 45vw;
    font-size: 4vw;
  }

  .kolum {
    margin: 10vw;
  }

  .reklänk {
    font-size: 7vw;
  }
}
