* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: black;
  padding: 1vw;
  position: sticky;
  top: 0;
}
nav {
  display: flex;
  width: 100%;
}
.head {
  color: white;
  margin: 2vw;
  border: solid white;
  padding: 1.5vw;
}

a {
  color: white;
  font-size: 2.5vw;
  display: inline-block;
  transition: 0.3s;
}

a:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.logga {
  width: 10vw;
  height: 7vw;
  margin-right: 2vw;
  padding: 1.5vw;
}

.meny {
  margin-left: 1%;
  width: 11vw;
}

.Hero {
  width: 100vw;
  height: 50vw;
  background-image: url(images/backgrunds\ bild.gif);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
}

.kolum {
  width: 50%;
  margin: 10px;
  padding: 5px;
  color: rgb(0, 0, 0);
  font-size: 2vw;
  display: flex;
}

.rektext {
  margin-left: 4vw;
}
